<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="МояПосылка.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="МояПосылка.Properties.Settings.МояПосылкаConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\МояПосылка.accdb"
            providerName="System.Data.OleDb" />
        <add name="МояПосылка.Properties.Settings.МояПосылка2ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\МояПосылка2.accdb"
            providerName="System.Data.OleDb" />
        <add name="МояПосылка.Properties.Settings.МояПосылка3ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\МояПосылка3.accdb"
            providerName="System.Data.OleDb" />
        <add name="МояПосылка.Properties.Settings.МояПосылка4ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\МояПосылка4.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <МояПосылка.Properties.Settings>
            <setting name="txtШапка" serializeAs="String">
                <value />
            </setting>
            <setting name="txtШапка2" serializeAs="String">
                <value />
            </setting>
            <setting name="richТекст" serializeAs="String">
                <value />
            </setting>
        </МояПосылка.Properties.Settings>
    </userSettings>
</configuration>